body {
	font-family: sans-serif;
	}
	
	#wrapper {
	 width: 1000px;
	 margin: 15px auto;
	}

	#map {
	 height: 960px;
	 margin: 15px auto;
	}

    #panel {
    width: 26%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
    }

    .range-slider {
    width: 50%;
    }

    #forward {
    float: right;
    resize: 100px;
    }

    #reverse {
    float: left;
    }

.leaflet-popup-content p {
    margin: 0.2em 0;
}
